mat-card{background-color: #181c27; height: 100%;padding: 0;}
.player-container{height: 100%;}
.playsong-name{font-size: 115%;padding: 0px 0px 15px 5px; color: #ffffff }
.album-name, .composser-name{color:#888d99; padding-left: 5px; font-size:85% }
.song-info-container{padding:5px;}
mat-slider{width: 100%}
.controller{background-color:#1f232f; border-top: solid #3a3d46 1px;  }
/* i.icon {background-repeat: no-repeat;height: 22px; width: 22px;} */
.icon {background-size: contain; background-repeat: no-repeat;height: 22px; width: 22px;margin: 10px;cursor: pointer;}
.shuffleDeactive{background-image: url("./../../assets/player/shuffle.svg");}
.shuffle{background-image: url("./../../assets/player/shuffle-h.svg");}
.repeatDeactive{background-image: url("./../../assets/player/repeat.svg");}
.repeat{background-image: url("./../../assets/player/repeat-h.svg");}
.prev{background-image: url("./../../assets/player/prev.svg");}
.prev:hover{background-image: url("./../../assets/player/prev-h.svg");}
.player{background-image: url("./../../assets/player/player.svg"); height: 30px; width: 30px;}
.pause{background-image: url("./../../assets/player/pause.svg"); height: 30px; width: 30px;}
.next{background-image: url("./../../assets/player/next.svg");}
.next:hover{background-image: url("./../../assets/player/next-h.svg");}
.speaker{background-image: url("./../../assets/player/speaker.svg");    position: absolute; right: 10px;bottom: 10px; width: 30px; height: 30px;margin: 0;}
.speakerActive{background-image: url("./../../assets/player/speaker-h.svg"); position: absolute; right: 10px;bottom: 10px; width: 30px; height: 30px;margin: 0;}
.setting{background-image: url("./../../assets/player/setting.svg");}
.setting:hover{background-image: url("./../../assets/player/setting-h.svg");}
.playlist-icon{width: 25px; height: 25px;background-image: url("./../../assets/player/playlist.svg");background-size: contain; margin: 5px; cursor: pointer;}
.setting-icon{width: 25px; height: 25px;background-image: url("./../../assets/setting.svg");background-size: contain;margin: 20px 5px;}
.volumeContainer{height: 70%; background-color: #393e4b; position: absolute; right: 18px;bottom: 45px;transition: all .3s ease-in-out;z-index: 100;padding: 0 2px; border-radius:50px; }
.volumeContainer ::ng-deep .mat-slider-vertical .mat-slider-wrapper{left: 7px;bottom: 10px;top: 10px;}
.volumeContainer ::ng-deep .mat-slider-vertical{min-height: 100%;}
::ng-deep .mat-accent .mat-slider-thumb, ::ng-deep .mat-accent .mat-slider-thumb-label,::ng-deep .mat-accent .mat-slider-track-fill{background-color: #49c9eb}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-buffer{background-color: #313540}
::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-background{fill:#313540}


/* .mini{width: 30px; height: 30px;background-image: url("./../../assets/player/playlist.svg");background-size: contain} */

