<mat-card>
    <div fxLayout fxLayout="column" class="player-container">
    <div class="song-info-container" fxLayout fxLayout="row"  fxFlex="75%">
    <div fxFlex="20%">
        <img src="http://secure.gravatar.com/avatar/7e5698322caf249e776962e5c939bee8?d=http://www.html5gamedevs.com/uploads/monthly_2018_06/D_member_31709.png" width="95%" height="100%">
    </div>
    <div fxFlex="80%" fxLayout="column">
        <div fxFlex="70%" fxLayout="row">
            <div fxFlex="90%">
            <div class="playsong-name">Kaala Theme</div>
            <div class="album-name">Kaala</div>
            <div class="composser-name">Santhosh Narayanan</div>

            </div>
            <div fxFlex="10%">icon</div>
        </div>
        <div fxFlex="30%">
            <mat-slider value="50"></mat-slider>
        </div>
    </div>
    
</div>
<div class="controller" fxLayout fxLayout="row" fxFlex="25%" fxLayoutAlign="center center">
<i class="icon shuffle"></i>
<i class="icon repeat"></i>
<i class="icon prev"></i>
<i class="icon player"></i>
<i class="icon next"></i>
<i class="icon speaker"></i>
<i class="icon setting"></i>

</div>
</div>
    
</mat-card>

