<div class="container" fxLayout fxLayout.xs="row" flex-wrap: wrap>
  <div class="left" fxFlex="30%" class="left-container">
    <div class="layout" fxLayout fxLayout.xs="row">
      <div class="album" fxFlex="100%" slimScroll>
        <app-new-album></app-new-album>
      </div>
    </div>
  </div>
  
    <div class="center" fxFlex="40%">
      <div class="layout" fxLayout fxLayout.xs="row">
        <app-playlist></app-playlist>        
        </div>
        </div> 
        <div class="right" fxFlex="30%">
    <div class="layout" fxLayout fxLayout.xs="row">
      <div class="history" fxFlex="60%">
        <app-history-trending></app-history-trending>
      </div>
      <div class="station" fxFlex="40%">
        <app-station-channels> </app-station-channels>
      </div>
    </div>
  </div>
  </div>


   