<div class="container" fxLayout fxLayout.xs="row" flex-wrap: wrap>
  <div class="left" fxFlex="25%" class="left-container" >
    <div class="height100" fxLayout fxLayout.xs="row">
      <div class="album" fxFlex="100%">
        <app-new-album></app-new-album>
      </div>
    </div>
  </div>
  <div fxFlex="50%">

  </div>
  <div class="right" fxFlex="25%">
    <div class="height100" fxLayout fxLayout.xs="row">
      <div class="history" fxFlex="50%">
        <app-history-trending></app-history-trending>
      </div>
      <div fxFlex="50%">
        <app-station-channels>

        </app-station-channels>
      </div>
    </div>
  </div>
</div>